{{#each songs as |song|}}


  <div class="show-data" data-id="{{song.id}}">
    <h2 class="show-title">Title: {{song.title}}</h2>

    <h4 class="show-artist">Artist: {{song.artist}}</h4>

    <h4 class="show-id">song# {{id}}</h4>
  </div>

{{/each}}
