{{#each songs as |song|}}


  <div class="show-data" data-id="{{song.id}}">
    <h2>Your Favorite # {{song.id}} Has Been Updated</h2>
    <h2 class="show-title">Title: {{favorite.song.title}}</h2>

    <h4 class="show-artist">Artist: {{favorite.song.artist}}</h4>
  </div>

{{/each}}
